h1{
    display: block;
    text-align: center;
    font-family: fantasy;
    font-size: 600%;
    color: aliceblue;
}
h2{
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    color: aliceblue;
}

h3{
    display: block;
    text-align: left;
    font-size: 200%;
    color: lightskyblue ; 
}

img{
    padding:3px;
    border:5px solid aliceblue;
}

body{
    background-color: black;
}

p{
    font-size: 200%;
    padding-left: 100;
    padding-right: 100;
    padding-top: 25;
    padding-bottom: 25;
    color: aliceblue;
}
.blog_pics{
    display: block;
    align-content: center;
    align-items: center;
    align-self: auto;
}
.aboutMe{
    border-top: 10px solid aliceblue;
    padding-top: 70px;
}

.aboutMeParagraph{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.accordion{
    padding-left: 2%;
    border-top: 10px solid aliceblue;
    padding-top: 70px;
    text-align: center; 
    transition: all ease 0.5s;
}
.card-body{
    text-align: center;
}

.myWorks{
    border-top: 10px solid aliceblue;
    padding-top: 70px;
}
.imgLink:hover{
    transition: all ease 0.5s;
    display: block;
    opacity: 0.5;
}
a{
    color: lightskyblue;
    transition: all ease 0.5s;
}
a:active{
    opacity:0;
}

.row{
    display: block;
    align-self: auto;
    align-content: center;
    align-items: center;
}

.data_visualization{
    padding-bottom: 20px;
}

.footer{
    border-top: 5px solid aliceblue;
    padding: 50px;
}

.github{
    size: 200%;
    color: lightskyblue;
    text-align: center;
}

nav{
    background-color: black;
    padding-bottom: 15px;
    width: 100%;
}
.nav-bar{
    padding-top: 25px;
    position: fixed;
    top:0;
    border-bottom: 3px solid aliceblue;
    z-index: 500;
}
.header{
    padding-top: 75px;
}

.nav-button{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 200%;
    border: 3px solid aliceblue;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    z-index: 500;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

.final_project{
    padding-bottom: 50px;
}
